.background{
    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: none;
    position: fixed;
    object-fit: cover;
    z-index: -1;
    /* img over the text */
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 5s ease-in forwards;
  }
  
  @keyframes fadeInAnimation {
    to {
      opacity: 1;
    }
  }
  